= link_to "Get Winner", :action => 'show'
= form_tag :action => 'find_winner'
= text_field_tag 'player_1', 'Player 1'
= text_field_tag 'player_2', 'Player 2'
= text_field_tag 'set_1', 'set 1'
= text_field_tag 'set_2', 'set 2'
= text_field_tag 'set_3', 'set 3'
= submit_tag 'get winner'
