%div{:class => 'row-fluid address-foot'}
  %div{:class => 'span3 foot'}
  %div{:class => 'span3 foot'}
%hr
%div{:class => 'row-fluid'}
  %div{:class => 'span4 foot'}
    %p 
      %h6 Legal
      %li= link_to 'Copyright', '#'
      %li= link_to 'Disclaimer', '#'
      %li= link_to 'Privacy', '#'
  %div{:class => 'span4 foot'}
    %p
      %h6 Makerere
      %li= link_to 'About Us', '#'
      %li= link_to 'Contact', '#'
      %li= link_to 'Feedback', '#'
  %div{:class => 'span4 foot'}
    %p
      %h6 Social
      %li= link_to 'Facebook', '#'
      %li= link_to 'Twitter', '#'
      %li= link_to 'Google+', '#'
      %li= link_to 'Linkedin', '#'
  ©Makerere University Senior Staff Tennis Club 
